*.swp
*.swo
*.pyc
*.pyo
*.egg-info/
.python-version
.pyre/
__pycache__/
.venv/
venv/
.tox/
.vscode/
docs/build/
dist/
docs/source/.ipynb_checkpoints/
build/
.coverage
docs/source/rules/
coverage.xml
coverage_report.html
.idea
