[build-system]
requires = ["hatchling", "hatch-vcs"]
build-backend = "hatchling.build"

[project]
name = "fixit"
readme = "README.rst"
authors = [
    {name="Jimmy Lai"},
    {name="John Reese"},
    {name="Zsolt Dollenstein"},
    {name="Meta Platforms, Inc"},
]
license = {file="LICENSE"}
classifiers = [
    "Development Status :: 3 - Alpha",
    "Intended Audience :: Developers",
    "License :: OSI Approved :: MIT License",
    "Operating System :: OS Independent",
    "Programming Language :: Python",
    "Programming Language :: Python :: 3 :: Only",
    "Topic :: Software Development :: Libraries :: Python Modules",
    "Topic :: Software Development :: Quality Assurance",
]

requires-python = ">=3.7"
dependencies = [
    "click >= 8.0",
    "libcst >= 0.3.18",
    "tomli >= 2.0; python_version < '3.11'",
    "trailrunner >= 1.2",
]

dynamic = ["version"]
description = "A lint framework that writes better Python code for you."

[project.optional-dependencies]
docs = [
    "sphinx == 4.3.2",
    "sphinx-mdinclude == 0.5.2",
]
dev = [
    "black == 22.10.0",
    "flake8 == 4.0.1",
    "flake8-bugbear == 22.9.23",
    "mypy == 0.981",
    "ufmt == 2.0.1",
    "usort == 1.0.5",
]

[project.scripts]
fixit = "fixit.cli:main"

[project.urls]
Home = "https://fixit.rtfd.io"
Github = "https://github.com/Instagram/Fixit"
Changelog = "https://github.com/Instagram/LibCST/blob/main/CHANGELOG.md"

[tool.black]
target-version = ["py37"]

[tool.hatch.version]
source = "vcs"

[tool.hatch.build.hooks.vcs]
version-file = "src/fixit/__version__.py"

[tool.hatch.envs.default]
features = ["dev"]

[tool.hatch.envs.default.scripts]
test = "python -m fixit.tests"
typecheck = "mypy src/fixit"

[tool.hatch.envs.lint.scripts]
check = [
    "flake8 src/fixit",
    "ufmt check src/fixit",
    "{root}/check_copyright.sh",
]
fix = [
    "ufmt format src/fixit",
]

[tool.hatch.envs.docs]
features = ["docs"]
[tool.hatch.envs.docs.scripts]
build = [
    "sphinx-build -a -b html docs html",
]

[tool.fixit]
enable = ["fixit.rules"]
disable = ["fixit.test.foo", "fixit.test.bar"]
