[build-system]
requires = ["hatchling", "hatch-vcs"]
build-backend = "hatchling.build"

[project]
name = "fixit"
readme = "README.rst"
authors = [
    {name="Jimmy Lai"},
    {name="John Reese"},
    {name="Zsolt Dollentstein"},
    {name="Meta Platforms, Inc"},
]
license = {file="LICENSE"}
classifiers = [
    "Development Status :: 3 - Alpha",
    "Intended Audience :: Developers",
    "License :: OSI Approved :: MIT License",
    "Operating System :: OS Independent",
    "Programming Language :: Python",
    "Programming Language :: Python :: 3 :: Only",
    "Topic :: Software Development :: Libraries :: Python Modules",
    "Topic :: Software Development :: Quality Assurance",
]

requires-python = ">=3.7"
dependencies = [
    "click >= 8.0",
    "libcst >= 0.3.18",
    "tomli >= 2.0; python_version < '3.11'",
    "trailrunner >= 1.2",
]

dynamic = ["version"]
description = "A lint framework that writes better Python code for you."

[project.scripts]
fixit = "fixit.cli:main"

[project.urls]
Home = "https://fixit.rtfd.io"
Github = "https://github.com/Instagram/Fixit"
Changelog = "https://github.com/Instagram/LibCST/blob/main/CHANGELOG.md"

[tool.black]
target-version = ["py37"]

[tool.hatch.version]
source = "vcs"

[tool.hatch.build.hooks.vcs]
version-file = "src/fixit/__version__.py"

[tool.hatch.envs.default]
dependencies = [
    "mypy==0.971",
]
[tool.hatch.envs.default.scripts]
test = "python -m fixit.tests"
typecheck = "mypy src/fixit"

[tool.hatch.envs.lint]
detached = true
dependencies = [
    "black==22.3.0",
    "flake8==4.0.1",
    "flake8-bugbear==22.7.1",
    "ufmt==1.3.3",
    "usort==1.0.2",
]
[tool.hatch.envs.lint.scripts]
check = [
    "flake8 src/fixit",
    "ufmt check src/fixit",
]
fix = [
    "ufmt format src/fixit",
]

[tool.hatch.envs.docs]
dependencies = [
    "sphinx==4.3.2",
    "sphinx_mdinclude==0.5.1",
]
[tool.hatch.envs.docs.scripts]
build = [
    "sphinx-build -a -b html docs html",
]

[tool.fixit]
# TODO
